::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 20px;
    color: #ff8c00;
    position: absolute;
    overflow: scroll;
    align-items: center;
    background-size: 100%;
    flex-direction: column;
    background: linear-gradient(#0e0e0e, #0b0b0b, #090909, #060606, #030303);
    background-attachment: fixed;
    font-family: 'Press Start 2P', cursive;
}

h1 {
    font-size: 70px;
    margin: 20px 0 70px 0;
}

div {
    font-size: 33px;
    border-radius: 2%;
    margin: 70px 0 0 0;
    padding: 30px 30px 30px 30px;
    background-color: rgba(255, 140, 0, 0.12);
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

input,select {
    outline: none;
    font-size: 30px;
    color: #ff8c00;
    padding: 2px 10px 2px 10px;
    border: 3px double #ff8c00;
    background-color: transparent;
    font-family: 'Press Start 2P', cursive;
}

option {
    background-color: black;
}

table {
    border-radius: 2%;
    padding: 10px 0 10px 20px;
    background-color: rgba(255, 140, 0, 0.12);
}

td {
    width: 250px;
    padding: 0 0 10px 0;
}

ul {
    width: 600px;
}

.input {
    width: 300px;
    margin: 0 0 20px 0;
}

.space {
    margin: 0 5px 0 5px;
}

.space_bellow {
    margin: 0 0 20px 0;
}

.img {
    position: fixed;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    margin: 5px 5px 0 0 ;
    border: none;
}

.no {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: transparent;
    margin: 0;
    padding: 0;
}

#h1 {
    margin: 20px 0 40px 0;
}

#form {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0 0 15px 0;
}

#window {
    visibility: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);
}

#adding {
    visibility: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.8);
}

#contact {
    visibility: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 30;
    background-color: rgba(0, 0, 0, 0.8);
}

#save {
    visibility: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 30;
    background-color: rgba(0, 0, 0, 0.8);
}